@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
@import 'utils/variables';
@import 'themes/light';
@import 'themes/dark';
@import 'blocks/calendar';

body {
  font-family: 'Inter', sans-serif;
  background: var(--bg);
  color: var(--text);
  margin: 0;
  padding: 2rem;
  display: flex;
  justify-content: center;
}
