@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
body {
  font-family: 'Inter', sans-serif;
  background-color: var(--bg);
  color: var(--text);
}

// Utils
@import 'utils/variables';
@import 'utils/mixins';

// Base
@import 'base/reset';

// Themes
@import 'themes/light';
@import 'themes/dark';

// Blocks
@import 'blocks/calendar';
